/* successfull-registration */

.success{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .success h1,.success p, .success button{
    margin: 15px 0 0 0;
    text-align: center;
  }
  
  .success button a{
    color: white;
    text-decoration: none;
  }